html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 5px; /* Ширина всего элемента навигации (я манал это всё) */
}
  
body::-webkit-scrollbar-track {
    background: #333; /* Цвет дорожки */
    opacity: 0;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #6B6B6B; /* Цвет бегунка */
    border-radius: 20px; /* Округление */
    border: 0.5px solid #6B6B6B; /
}

::selection {
background: #6B6B6B; 
color: #fff; /* Цвет текста */
}

.vid {
    align-items: center;
    margin-top: 1%;
    border-radius: 15px;
    width: 65%;
    height: 70%;
}

.vid_two {
    align-items: center;
    margin-top: 1%;
    border-radius: 15px;
    width: 100%;
    height: 70%;
}

.top {
    top: 9%;
    left: 1%;
    font-size: 1.5rem;
    color: white;
    z-index: 100;
    text-decoration: none;
    position: fixed;
    opacity: 0.5;
    user-select: none
}

.top__facke {
    top: 0;
    opacity: 0;
}

.backvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10000;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}
   
  #popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup_h2 {
    font-size: 1.2rem;
}

  .registration-cssave form {
    max-width:800px;
    padding:30px 50px;
    border-radius:10px;
  }
  
  .registration-cssave .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
    width: 250px;
    height: 40px;
  }
  
  .registration-cssave .create-account {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#FFD35F ;
    border:none;
    color:white;
    margin-left: 20%;
    cursor: pointer;
  }
  
  .close {
    font-family: "Noto Sans", serif;
    border: none;
    font-size: 15px;
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    float:right;
  }



  .create-account:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* top: 4; */ 
    width: 95%; 
    background-color: #333;
    /* margin-left: 2%;
    margin-right: 2%; */
    /* border-radius: 15px; */
    font-weight: bold;
    width: 100%;
    z-index: 2;
}

.navbar button {
    font-family: "Noto Sans", serif;
    border: none;
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    margin-left: 10px;
    background: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 11%;
    padding-top: 19px;
}



.navbar button:hover, .navbar button:focus {
    color: #FFFF00 
    /*-webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;*/
}

.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    margin-left: 10px;
}
  
.nekitnebei {
    margin-right: 150px;
}


.header_logo {
    display: inline-block;
    align-items: center;
    margin-left: 11%;
    margin-top: 0.1%;
}

.scale {
    transition: 0.5s; /* Время эффекта */
}
   .scale:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
}

.scale_top {
    transition: 0.5s; /* Время эффекта */
}
   .scale_top:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
    color: #FFFF00;
}

.scale_slideshow{
    transition: 1s; /* Время эффекта */
}
   .scale_slideshow:hover {
    transform: scale(1.02); /* Увеличиваем масштаб */
}

.dropdown {
    float: right;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 17px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: #FFFF00 
    /*-webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;*/
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 1%;
}
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    color: #FFFF00;
   /* -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000; */
}
  
.show {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    background-color: #23282B;
    margin: 8%;
    border-radius: 15px;
    height: fit-content;
    padding-bottom: 5%;
}

.stat {
    justify-self: center;
    display: flex;
}

.yelow {
    color: #FFFF00;
}

.maina_stat {
    font-family: "Noto Sans", serif;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%; 
    margin-bottom: 1%;
}

.stat_igri {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 1px;
}

.line {
    border-bottom: 3px solid white; /* Параметры линии */
    margin-left: 5%;
    margin-right: 5%;
}

.img_news {
    border-radius: 15px;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.news_con {
    font-family: "Noto Sans", serif;
    font-size: 1.5rem;
    color: white;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 0;
    font-weight: bold;
    text-align: justify;
}

.news_a {
    color: yellow;
    text-decoration: none;
}

.news_a:hover {
    color: #FFFF00;
    /* -webkit-text-shadow: 2px 2px 2px #000;
     -moz-text-shadow: 2px 2px 2px #000;
         text-shadow: 2px 2px 2px #000; */
     text-decoration: underline;
}

.scale_news {
    transition: 1s; /* Время эффекта */
}
   .scale_news:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

@keyframes myAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
 

.main_news__a:hover {
    color: #FFFF00;
   /* -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000; */
    text-decoration: underline;
}


footer {
    background-color: #23282B;
    width: 100%;
    height: 5%;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

footer img {
    display: inline-block;
    align-items: center;
    margin-left: 11%;
    margin-top: 0.1%;
    max-height: 3.6rem;
    display: inline-block;
    user-select: none;
    
}

.fotermain {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-content: center;
    margin-top: 4%;
}


.fot1 {
    margin-left: 11%; 
    display: inline-block;
    float: left;

}

.fot2 {
    margin-right: 11%;
    display: inline-block;
    float: right;
}

footer h4 {
    display: inline-block;
    align-items: center;
    user-select: none;
    position: relative;
    top: 2%;
}


h1 {
    font-family: "Noto Sans", serif;
    font-size: 5rem;
    color: white;
    margin: auto 0%;
    padding-top: 10%;
    font-weight: bold;    
}

h3 {
    font-family: "Noto Sans", serif;
    font-size: 1rem;
    color: white;
    margin: auto 0%;
    font-weight: bold;
    
}

h4 {
    font-family: "Noto Sans", serif;
    font-size: 0.8rem;
    color: white;
    margin: auto 0%;
    font-weight: bold;
    float: right;
}

.noto-sans {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
